<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamingCourse.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.dreamingCourse.entity.Cart">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_alive" jdbcType="INTEGER" property="isAlive" />

    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="submission_status" jdbcType="INTEGER" property="submissionStatus" />
    <result column="activity_price" jdbcType="DECIMAL" property="activityPrice" />
    <result column="total" jdbcType="DECIMAL" property="total" />
  </resultMap>


  <sql id="Base_Column_List">
    id, user_id, course_id, quantity, create_time, status, is_alive, price, submission_status, 
    activity_price, total
  </sql>

  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ykt_cart
    where  user_id = #{userId,jdbcType=INTEGER} and submission_status = 1
  </select>

  <!--<update id="updateByUid" parameterType="map">
    update ykt_cart
    set
      is_alive = 0
    where user_id = #{userId,jdbcType=INTEGER}
  </update>-->

</mapper>