<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamingCourse.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.dreamingCourse.entity.User">

        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="question" jdbcType="VARCHAR" property="question"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="role" jdbcType="INTEGER" property="role"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_alive" jdbcType="INTEGER" property="isAlive"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ykt_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dreamingCourse.entity.User">
    insert into ykt_user (id, username, password, 
      email, phone, question, 
      answer, role, image, 
      code, create_time, update_time, 
      is_alive)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isAlive,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.dreamingCourse.entity.User">
    update ykt_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_alive = #{isAlive,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, password, email, phone, question, answer, role, image, code, 
    create_time, update_time, is_alive
    from ykt_user
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, email, phone, question, answer, role, image, code, 
    create_time, update_time, is_alive
    from ykt_user
  </select>
    <select id="findByInfo" resultMap="BaseResultMap">
    select id, username, password, email, phone, question, answer, role, image, code,
    create_time, update_time, is_alive
    from ykt_user
    where username = #{username,jdbcType=VARCHAR}
    and password = #{password,jdbcType=VARCHAR}
  </select>

    <resultMap id="BaseResultMap" type="com.dreamingCourse.entity.yktUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="question" jdbcType="VARCHAR" property="question" />
        <result column="answer" jdbcType="VARCHAR" property="answer" />
        <result column="role" jdbcType="INTEGER" property="role" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password, email, phone, question, answer, role, image, code, create_time,
    update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ykt_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--用户登陆-->
    <select id="selectByUsername" parameterType="com.dreamingCourse.entity.yktUser" resultMap="BaseResultMap">
   select id,username,password,email,phone,question,answer,role,image,code,create_time,update_time FROM ykt_user WHERE username = #{username,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ykt_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <!--注册增加数据-->
    <insert id="insert" parameterType="com.dreamingCourse.entity.yktUser" keyProperty="id">
    insert into ykt_user (username, password,
      email, phone, question,
      answer, role, image,
      code, create_time, update_time
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR},
      #{answer,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR},
      #{code,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <!--注册验证用户是否存在-->
    <select id="selectUsername" parameterType="com.dreamingCourse.entity.yktUser" resultMap="BaseResultMap">
   select id,username,password,email,phone,question,answer,role,image,code,create_time,update_time FROM ykt_user WHERE username = #{username,jdbcType=VARCHAR}
  </select>
    <!--注册验证电话号码是否注册过-->
    <select id="selectPhone" parameterType="com.dreamingCourse.entity.yktUser" resultMap="BaseResultMap">
   select id,username,password,email,phone,question,answer,role,image,code,create_time,update_time FROM ykt_user WHERE phone = #{phone,jdbcType=VARCHAR}
  </select>
    <!--修改按照账号找问题-->
    <select id="selectQuestion" parameterType="com.dreamingCourse.entity.yktUser" resultMap="BaseResultMap">
   select question FROM ykt_user WHERE username = #{username,jdbcType=VARCHAR}
  </select>
    <!--修改按照问题找答案-->
    <select id="selectAnswer" parameterType="com.dreamingCourse.entity.yktUser" resultMap="BaseResultMap">
   select answer FROM ykt_user WHERE username = #{username,jdbcType=VARCHAR}
  </select>
    <!--改密码-->
    <update id="updateByUsername" parameterType="com.dreamingCourse.entity.yktUser">
  update ykt_user
  set password=#{password,jdbcType=VARCHAR},update_time=#{updateTime,jdbcType=TIMESTAMP} where username=#{username,jdbcType=VARCHAR}
  </update>
    <!--验证码-->
    <select id="selectByCode" parameterType="com.dreamingCourse.entity.yktUser" resultMap="BaseResultMap">
   select id,username,password,email,phone,question,answer,role,image,code,create_time,update_time FROM ykt_user WHERE phone = #{phone,jdbcType=VARCHAR}
  </select>
    <insert id="insertSelective" parameterType="com.dreamingCourse.entity.yktUser">
        insert into ykt_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!--注册修改-->
    <update id="updateByPrimaryKeySelective" parameterType="com.dreamingCourse.entity.yktUser">
        update ykt_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="question != null">
                question = #{question,jdbcType=VARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dreamingCourse.entity.yktUser">
    update ykt_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>